/* .body_carrinho div {
  border: 1px solid black;
} */
.body_carrinho img {
  width: 100%;
  height: 100%;
}
.definirQuantia {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: space-between;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
}
.textoQuantia p {
  font-size: 12px;
}
.precoProduto p {
  font-size: 12px;
}
.quantiaProduto {
  font-size: 12px;
  flex-grow: 1;
}
.botoesQuantia {
  display: flex;
  justify-content: space-between;
  width: 55%;
}
.textoQuantia {
  padding-right: 2px;
  width: 45%;
}
.quantiaPreco {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
}
.quantiaPreco > div {
  border: 2px solid black;
}
.descricaoProduto {
  padding-bottom: 4%;
  background-color: #14b1cd;
  border-radius: 7px;
  padding: 2px;
  border: 2px solid black;
}
.precoProduto {
  font-size: 12px;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
  padding: 2px;
}
.menosUm, .maisUm {
  width: 20px;
  /* height: 100%; */
}
.menosUm img, .maisUm img {
  height: 20px;
  border: 1px solid black;
  border-radius: 7px;
}